<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link  href="{% static '/blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">  
    <!-- <link href="./bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
    <script src="https://kit.fontawesome.com/dfe11dad38.js" crossorigin="anonymous"></script>
</head>
<body>
 <!-- Footer-->
 <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Do It Django 2025</p></div>
</footer>
</body>